

 .title {
  text-align: center;
 }

 .cadreTimer {
  margin: 10px;
 
  border: 1px solid black;

}

.timerClock {
  text-align: center;
}

.timer {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center; 

}

.timer label {
  text-align: center;
}

.timer label input {
  max-width: 10vw;
  margin: 5px;
}

.timerbutton {
  display: flex;
  justify-content: center;
}
.timerbutton button {
  margin: 5px;
}

.goodJob {
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.formTitle {
  margin-top: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.formBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.form {
  height: 15vh;
  width: 100%;
  border: 1px solid darkgrey;
}

.form .boxTitle {
  height: 3vh;
  width: 100%;
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid black;
}

.form .boxDetail {
  resize: none;
  padding: 0;
  height: 11vh;
  width: 100%;
  border-width: 0;
}

.formButton {
  width: 100%;
}

.list {
  list-style-type: none;
  text-align: center;
  margin: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
}



input {
  text-align:center;
}

::-webkit-input-placeholder {

  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */

  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */

  text-align: center;
}
:-ms-input-placeholder {

  text-align: center;
}
